@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F8FAFC;
    --foreground: #020617;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased selection:bg-[#0369A1] selection:text-white;
  }
}

@layer utilities {
  .text-massive {
    font-size: clamp(3rem, 10vw, 12rem);
    font-weight: 900;
    letter-spacing: -0.05em;
    line-height: 1;
  }
}